<%= form_for(@pin) do |f| %>


<div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title , class:"form-control"%>
  </div>

<div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description , class:"form-control"%>
  </div>
  <div class="actions form-group">
    <%= f.submit  class: "btn btn-primary"%>
  </div>
<% end %>